.box-shadow {
  -webkit-box-shadow: 0px 10px 10px 0px #e9e9e9;
  -moz-box-shadow: 0px 10px 10px 0px #e9e9e9;
  box-shadow: 0px 10px 10px 0px #e9e9e9; }

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(21, 157, 215, 0.7); }

.container {
  direction: rtl;
  text-align: right; }
.container .teacher-info {
  direction: rtl; }
.container .teacher-info h2 {
  width: 27%;
  color: #159DD7; }
.container .teacher-info h2 .membership {
  margin-top: 13px;
  font-size: 12px;
  text-align: center;
  float: left;
  padding: 2px;
  width: 100px;
  color: #000;
  height: 30px;
  background-color: #cbccc6;
  border-radius: 30px;
  line-height: 24px; }
.container .teacher-info h2 i {
  color: #707070; }
.container .teacher-info span {
  opacity: 0.8;
  color: #707070; }
.container .start-lesson label {
  margin-top: 40px;
  font-weight: normal;
  color: #707070; }
.container .start-lesson input {
  display: inline-block;
  width: 30%;
  border-left: transparent;
  border-radius: 0 3px 3px 0; }
.container .start-lesson .btn-success {
  margin-right: -4px;
  margin-top: -5px;
  border-right: transparent;
  border-radius: 3px 0 0 3px;
  margin-left: 10px; }
.container .start-lesson button {
  margin-top: -4px;
  border-radius: 5px;
  background-color: #F7F8FA; }
.container .start-lesson button i {
  cursor: pointer;
  font-size: 18px;
  padding: 4px; }
.container .start-lesson .btn {
  margin-top: -4px; }
.container .lessons {
  padding: 20px;
  cursor: pointer; }
.container .lessons .row > div {
  margin-left: 20px; }
.container .lessons .row .lesson {
  position: relative;
  width: 200px; }
.container .lessons .row .lesson .order {
  background-color: #159DD7;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  margin-right: 10px;
  position: relative;
  margin-bottom: -26px; }
.container .lessons .row .lesson .inner {
  padding: 10px;
  border: 1px solid #707070;
  height: 140px; }
.container .lessons .row .lesson .inner:hover {
  border: 1px solid red; }
.container .lessons .row .lesson .inner p {
  margin-top: 26px; }
.container .lessons .row .lesson .inner p span {
  opacity: 0.8;
  color: #707070; }
.container .lessons .row .lesson .inner .fa-pen {
  bottom: 6px;
  padding: 4px;
  position: absolute;
  right: 4px;
  bottom: 9px;
  color: #707070; }
.container .lessons .row .lesson .inner .fa-cog {
  color: #707070;
  position: absolute;
  bottom: 14px;
  left: 9px; }
.container .lessons .row .block1, .container .lessons .row .block2, .container .lessons .row .block3, .container .lessons .row .block4, .container .lessons .row .block5, .container .lessons .row .block6 {
  z-index: 9;
  display: none;
  right: -24px;
  margin-top: -50px;
  position: absolute;
  border-radius: 9px;
  box-shadow: 0px 0px 15px 3px #acaeb5;
  background-color: #fff;
  width: 175px; }
.container .lessons .row .block1 ul, .container .lessons .row .block2 ul, .container .lessons .row .block3 ul, .container .lessons .row .block4 ul, .container .lessons .row .block5 ul, .container .lessons .row .block6 ul {
  padding: 3px;
  color: #707070; }
.container .lessons .row .block1 ul li, .container .lessons .row .block2 ul li, .container .lessons .row .block3 ul li, .container .lessons .row .block4 ul li, .container .lessons .row .block5 ul li, .container .lessons .row .block6 ul li {
  padding: 3px 0 4px 0; }
.container .lessons .row .block1 ul li .btn, .container .lessons .row .block2 ul li .btn, .container .lessons .row .block3 ul li .btn, .container .lessons .row .block4 ul li .btn, .container .lessons .row .block5 ul li .btn, .container .lessons .row .block6 ul li .btn {
  text-align: right;
  background-color: #159DD7;
  width: 90%; }
.container .lessons .row .block1::after, .container .lessons .row .block2::after, .container .lessons .row .block3::after, .container .lessons .row .block4::after, .container .lessons .row .block5::after, .container .lessons .row .block6::after {
  content: ' ';
  position: absolute;
  top: 18px;
  left: -18px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 20px 10px 0;
  border-color: transparent #fff transparent transparent; }

.popup, .popup-group, .popup-person {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(151, 151, 151, 0.5); }
.popup .container, .popup-group .container, .popup-person .container {
  position: fixed;
  border-radius: 9px;
  top: 50%;
  margin-top: -275px;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  height: 550px;
  background-color: #fff; }
.popup .container .close, .popup-group .container .close, .popup-person .container .close {
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 10px; }
.popup .container h5, .popup-group .container h5, .popup-person .container h5 {
  padding: 18px; }
.popup .container .form-control, .popup-group .container .form-control, .popup-person .container .form-control {
  width: 95%; }
.popup .container input, .popup-group .container input, .popup-person .container input {
  width: 90%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #707070; }
.popup .container .students-number, .popup-group .container .students-number, .popup-person .container .students-number {
  width: 35%; }
.popup .container .form, .popup-group .container .form, .popup-person .container .form {
  padding: 10px; }
.popup .container .form > div, .popup-group .container .form > div, .popup-person .container .form > div {
  border-radius: 5px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  line-height: 20px;
  padding: 5px;
  border: 1px solid #707070; }
.popup .container .form input[type=checkbox], .popup-group .container .form input[type=checkbox], .popup-person .container .form input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: none; }
.popup .container .form label, .popup-group .container .form label, .popup-person .container .form label {
  margin-top: -8px;
  cursor: pointer;
  text-indent: -9999px;
  width: 44px;
  height: 25px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative; }
.popup .container .form label:after, .popup-group .container .form label:after, .popup-person .container .form label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s; }
.popup .container .form input:checked + label, .popup-group .container .form input:checked + label, .popup-person .container .form input:checked + label {
  background: #21D226; }
.popup .container .form input:checked + label:after, .popup-group .container .form input:checked + label:after, .popup-person .container .form input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%); }
.popup .container .form label:active:after, .popup-group .container .form label:active:after, .popup-person .container .form label:active:after {
  width: 130px; }

/*# sourceMappingURL=homepage-nosign.css.map */
