.box-shadow {
  -webkit-box-shadow: 0px 10px 10px 0px #e9e9e9;
  -moz-box-shadow: 0px 10px 10px 0px #e9e9e9;
  box-shadow: 0px 10px 10px 0px #e9e9e9; }

.overlay {
  width: 100%;
  background-color: rgba(21, 157, 215, 0.7); }

.profile-lessons {
  padding: 50px;
  direction: rtl;
  text-align: right; }
.profile-lessons .col-xl-3 h4 i {
  color: #159DD7; }
.profile-lessons .col-xl-3 p {
  color: #707070; }
.profile-lessons .col-xl-3 .ul {
  width: 70%;
  border: 1px solid #e2e5ed;
  padding: 0;
  border-radius: 10px; }
.profile-lessons .col-xl-3 .ul .active {
  cursor: pointer;
  background-color: #159DD7;
  border-color: #159DD7;
  color: #fff; }
.profile-lessons .col-xl-3 .ul .active i {
  color: #fff; }
.profile-lessons .col-xl-3 .ul li {
  cursor: pointer;
  padding: 10px;
  border-top: 1px solid #e2e5ed; }
.profile-lessons .col-xl-3 .ul li i {
  color: #159DD7; }
.profile-lessons .col-xl-3 .ul li:hover {
  background-color: #159DD7;
  border-color: #159DD7;
  color: #fff; }
.profile-lessons .col-xl-3 .ul li:hover i {
  color: #fff; }
.profile-lessons .lesson {
  cursor: pointer;
  position: relative;
  width: 200px;
  margin-bottom: 6px; }
.profile-lessons .lesson .order {
  background-color: #159DD7;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  margin-right: 10px;
  position: relative;
  margin-bottom: -26px; }
.profile-lessons .lesson .inner {
  padding: 10px;
  border: 1px solid #707070;
  height: 140px; }
.profile-lessons .lesson .inner:hover {
  border: 1px solid red; }
.profile-lessons .lesson .inner p {
  margin-top: 26px; }
.profile-lessons .lesson .inner p span {
  opacity: 0.8;
  color: #707070; }
.profile-lessons .mywallat .row .square {
  width: 100%;
  height: 78px;
  background-color: #fff;
  border: 1px solid #fff;
  margin-bottom: 36px;
  line-height: 78px;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0px 0px 5px 2px #eaedf3; }
.profile-lessons .mywallat .row .square p {
  float: right;
  line-height: 57px; }
.profile-lessons .mywallat .row .square .btn {
  float: left;
  margin-top: 4px;
  line-height: 30px; }
.profile-lessons .mywallat .row .popup-group .block {
  border-radius: 9px;
  padding: 10px;
  height: 400px;
  box-shadow: 0px 0px 5px 2px #eaedf3;
  text-align: right;
  background-color: #fff; }
.profile-lessons .mywallat .row .popup-group .block p {
  border-bottom: 1px solid #707070;
  width: 30%;
  float: right;
  margin-bottom: 4px;
  font-weight: bold; }
.profile-lessons .mywallat .row .popup-group .block input {
  margin: 20px 0 13px 0;
  direction: rtl; }
.profile-lessons .mywallat .row .popup-group .block .std {
  direction: rtl;
  border-bottom: 1px solid #707070;
  float: right;
  width: 100%;
  margin-bottom: 10px; }
.profile-lessons .mywallat .row .popup-group .block .std input {
  width: 13px;
  margin-top: 8px; }
.profile-lessons .mywallat .row .popup-group .block input[type="number"] {
  width: 115px;
  border-radius: 5px;
  border-color: #eee;
  text-align: center;
  border: 1px solid #eee; }
.profile-lessons .mywallat .row .popup-group .block .btn {
  margin-top: 10px;
  float: left; }
.profile-lessons .mywallat .row .payment-popup {
  background-color: #fff;
  padding: 9px;
  border-radius: 9px;
  box-shadow: 0px 0px 5px 2px #eaedf3; }
.profile-lessons .mywallat .row .payment-popup .container input {
  margin-bottom: 10px; }
.profile-lessons .mywallat .row .payment-popup .container input[type="number"] {
  width: 95%;
  border-radius: 5px;
  border: 1px solid #707070; }
.profile-lessons .mywallat .row .payment-popup .container p {
  font-size: 10px; }
.profile-lessons .mywallat .row .payment-popup .container select {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #707070; }
.profile-lessons .mywallat .row .payment-popup .container input[type="checkbox"] {
  float: right;
  margin-left: 18px;
  margin-top: 10px;
  border-color: #e2e5ed; }
.profile-lessons .mywallat .row .payment-popup .container h4 {
  font-size: 19px; }
.profile-lessons .mywallat .row .payment-popup .container p {
  margin-top: 10px; }
.profile-lessons .mywallat .row .payment-popup .container p:last-of-type {
  color: #34ab44; }
.profile-lessons .mywallat .row .payment-popup .container img {
  width: 130px; }
.profile-lessons .mywallat .row .finish-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: hidden;
  z-index: 99999999; }
.profile-lessons .mywallat .row .finish-popup body {
  overflow: hidden; }
.profile-lessons .mywallat .row .finish-popup .container {
  position: fixed;
  top: 25%;
  left: 9%; }
.profile-lessons .mywallat .cont {
  border: 1px solid #e2e5ed;
  height: 500px;
  font-size: 13px;
  width: 100%; }
.profile-lessons .mywallat .cont .row {
  border-bottom: 1px solid #e2e5ed;
  padding: 25px;
  margin-right: 0;
  width: 100%; }
.profile-lessons .mywallat .cont .row .col-3 {
  line-height: 1px;
  text-align: center; }
.profile-lessons .myset .set {
  border: 1px solid #cdcdcd;
  border-radius: 9px; }
.profile-lessons .myset .set .row {
  border-bottom: 1px solid #cdcdcd;
  width: 100%;
  padding: 10px;
  margin-right: 0; }
.profile-lessons .myset .set .row:last-of-type {
  border-bottom: none; }
.profile-lessons .myset .set .row:nth-last-of-type(2) .btn {
  margin-top: 56px; }
.profile-lessons .myset .set .row .col-6 {
  direction: ltr; }
.profile-lessons .myset .set .row .btn {
  float: left;
  width: 120px;
  margin-top: 36px;
  background-color: #d9d9d9;
  border-color: #d9d9d9; }

.popup-editing, .popup-personl, .popup-call {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(151, 151, 151, 0.5); }
.popup-editing .container, .popup-personl .container, .popup-call .container {
  padding: 50px;
  position: fixed;
  text-align: center;
  border-radius: 9px;
  top: 50%;
  margin-top: -275px;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  height: 550px;
  background-color: #fff; }
.popup-editing .container .close, .popup-personl .container .close, .popup-call .container .close {
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 10px; }
.popup-editing .container label, .popup-personl .container label, .popup-call .container label {
  float: right; }
.popup-editing .container input, .popup-personl .container input, .popup-call .container input {
  direction: rtl;
  margin-bottom: 10px; }
.popup-editing .container .btn, .popup-personl .container .btn, .popup-call .container .btn {
  float: right;
  margin: 10px 10px 10px 10px;
  width: 100px; }

.popup-personl .container {
  width: 800px;
  left: 50%;
  margin-left: -400px; }
.popup-personl .container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 14px;
  float: right; }
.popup-personl .container .fa-camera {
  position: absolute;
  right: 106px;
  top: 155px;
  background-color: #979797;
  color: #ffffff;
  padding: 10px;
  border-radius: 50%; }
.popup-personl .container select {
  direction: rtl; }
.popup-personl .container input {
  float: right;
  direction: rtl !important;
  text-align: right; }
.popup-personl .container .btn-primary {
  background-color: #159DD7;
  border-color: #159DD7; }
.popup-personl .container .btn-secondary {
  border-color: #D9D9D9;
  background-color: #D9D9D9; }

.popup-call .container {
  width: 800px;
  left: 50%;
  margin-left: -400px;
  top: 50%;
  margin-top: -150px;
  height: 340px; }
.popup-call input[type=checkbox] {
  float: right;
  margin: 7px; }
.popup-call span {
  float: right; }

/*# sourceMappingURL=profile-lessons.css.map */
