.container {
    direction: rtl;
    text-align: right;
    .teacher-info {
        direction: rtl;
        h2 {
            width: 27%;
            .membership {
                margin-top: 13px;
                font-size: 12px;
                text-align: center;
                float: left;
                padding: 2px;
                width: 100px;
                color: #000;
                height: 30px;
                background-color: #cbccc6;
                border-radius: 30px;
                line-height: 24px;
            }
            color: $main-color;
            i {
                color: $gray-color;
            }
        }
        span {
            opacity: 0.8;
            color: $gray-color;
        }
    }
    .start-lesson {
        label {
            margin-top: 40px;
            font-weight: normal;
            color: $gray-color;
        }
        input {
            display: inline-block;
            width: 30%;
            border-left: transparent;
            border-radius: 0 3px 3px 0;
        }
        .btn {
            margin-right: -4px;
            margin-top: -5px;
            border-right: transparent;
            border-radius: 3px 0 0 3px;
        }
    }
    .lessons {
        // position: relative;
        padding: 20px;
        cursor: pointer;
        .row{
            &>div{
                margin-left: 20px;
            }
            .lesson {
                position: relative;
                width: 200px;
                .order {
                    background-color: $main-color;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    color: #fff;
                    text-align: center;
                    line-height: 50px;
                    font-size: 30px;
                    margin-right: 10px;
                    position: relative;
                    margin-bottom: -26px;
                }
                .inner {
                    // position: relative;
                    padding: 10px;
                    border: 1px solid $gray-color;
                    height: 140px;
                    &:hover{
                        border: 1px solid red;
                    }
                    p {
                        margin-top: 26px;
    
                        span {
                            opacity: 0.8;
                            color: $gray-color;
                        }
                    }
                    .fa-pen {
                        bottom: 6px;
                        padding: 4px;
                        position: absolute;
                        right: 4px;
                        bottom: 9px;
                        color: $gray-color;
                    }
                    .fa-cog {
                        color: $gray-color;
                        position: absolute;
                        bottom: 14px;
                        left: 9px;
                    }
                }
              
            }
            .block1 , .block2 , .block3 , .block4 , .block5 , .block6 {
                z-index: 9;
                display: none;
                right: -24px;
                margin-top: -50px;
                position: absolute;
                border-radius: 9px;
                box-shadow: 0px 0px 15px 3px #acaeb5;
                background-color: #fff;
                width: 175px;
                ul{
                    padding: 3px;
                    color: $gray-color;
                    li{
                        padding: 3px 0 4px 0;
                    .btn{
                        text-align: right;
                        background-color: $main-color;
                        width: 90%;
                    }
                }
                }
                &::after {
                    content: ' ';
                    position: absolute;
                    top: 18px;
                    left: -18px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 10px 20px 10px 0;
                    border-color: transparent #fff transparent transparent;
                }
            }
        }
    }
}
.popup{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #979797, $alpha: 0.5);
    .container{
        position: fixed;
        border-radius: 9px;
        top: 50%;
        margin-top: -275px;
        left: 50%;
        margin-left: -250px;
        width: 500px;
        height: 550px;
        background-color: #fff;
        .close{
            position: absolute;
            cursor: pointer;
            top: 10px;
            left: 10px;
        }
        h5{
            padding: 18px;
        }
        .form-control{
            width: 95%;
        }
        input{
            width: 90%;
            margin-bottom: 10px;
            border-radius: 5px;
            border: 1px solid $gray-color;
        }
        .students-number{
            width: 35%;
        }
        .form{
            padding: 10px;
            &>div{
                border-radius: 5px;
                width: 100%;
                height: 40px;
                margin-bottom: 10px;
                line-height: 20px;
                padding: 5px;
                border: 1px solid $gray-color;
            }
            input[type=checkbox]{
                height: 0;
                width: 0;
                visibility: none;
            }
            
            label {
                margin-top: -8px;
                cursor: pointer;
                text-indent: -9999px;
                width: 44px;
                height: 25px;
                background: grey;
                display: block;
                border-radius: 100px;
                position: relative;
            &:after {
                content: '';
                position: absolute;
                top: 5px;
                left: 5px;
                width: 15px;
                height: 15px;
                border-radius:50%;
                background: #fff;
                border-radius: 90px;
                transition: 0.3s;
            }
        }
            input:checked + label {
                background: #21D226;
            }
            
            input:checked + label:after {
                left: calc(100% - 5px);
                transform: translateX(-100%);
            }
            
            label:active:after {
                width: 130px;
            }
            
            
        }
    }
}