body {
    height: 125vh;
}
.signIn {
    .sign-block {
        padding: 0 !important;
        height: 640px !important;
        width: 500px !important;
        .option {
            a {
                line-height: 50px;
            }
            .active {
                margin: 0;
                background-color: $main-color;
                height: 50px;
                a {
                    color: #fff;
                }
            }
        }
        h5 {
            color: $main-color;
            img {
                width: 110px;
            }
        }
        .row {
            & > div {
                padding: 0;
                margin-bottom: 30px;
            }
            .back {
                margin: auto;
                width: 120px;
                height: 120px;
                border-radius: 50%;
                @extend.box-shadow;
            }
            i {
                line-height: 120px;
                color: $main-color;
                font-size: 70px;
            }
        }
        label {
            margin-right: 30px;
            float: right;
        }
        input {
            margin-right: 30px;
            width: 80%;
            float: right;
        }
        .laws {
            padding: 10px;
            input {
                width: 40px !important;
            }
            label {
                margin: -7px;
                color: $main-color;
            }
        }
        .btn-secondary {
            background-color: $gray-color !important;
        }
    }
}
